@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;500&display=swap');

.makeStyles-editorInput-35 > textarea {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 500;
}
textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
pre:focus {
  outline: none;
}

.find {
  background-color: burlywood;
}
